@inject TenantSessionService Session

<div class="top-row ps-3 navbar navbar-dark tenant-brandbar">
    <div class="container-fluid">
        <a class="navbar-brand tenant-logo" href="">
            <span>N</span>
            <strong>Nexus Tenant</strong>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-section">Tổng quan</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Bảng điều khiển</NavLink>
        </div>

        @foreach (var group in TenantModuleMenus.GetEnabledGroups(Session.HasModule, Session.IsGranted))
        {
            <div class="nav-section">@group.Title</div>
            @foreach (var module in group.Modules)
            {
                <div class="nav-subsection px-3"><i class="@module.Icon me-2"></i>@module.Title</div>
                @foreach (var item in module.Items)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@item.Url">@item.Text</NavLink>
                    </div>
                }
            }
        }

        @{
            var adminMenus = TenantAdminMenus.GetVisibleMenus(Session.IsGranted).ToList();
        }
        @if (adminMenus.Count > 0)
        {
            <div class="nav-section">Quản trị tenant</div>
            @foreach (var item in adminMenus)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.Url">@item.Text</NavLink>
                </div>
            }
        }
    </nav>
</div>
